<div class="mission">
  <h1>Ride My Way is how you give back to mother earth</h1>
  <p>
    Ride My Way is a social ride sharing application where people who are 
    conscious about the environment and care enough to do something help reduce the carbon 
    footprint of today's transport industry.
  </p>
  <p>
    Be part of the solution for ensuring the earth is there for our children and children's children.
  </p>
</div>
<div class="get-started">
    <button (click)="authenticate(providers.google)" class="google">Get Started With Google</button>
</div>

