.header{
    .logo {
        img{
            height: 50px;
            width: auto;
        }
    }
    .profile{
        img{
            height: 50px;
            width: auto;
            border-radius: 50%;
        }

    }
}